<app-navbar></app-navbar>

<!-- Categories Section Begin -->
<section class="categories spad" style="background-color: #fffbf569; padding: 60px">
  <div class="container">
  </div>
  <div class="categories__post">
    <!--    <div class="container">-->
    <div class="row">
      <div class="col-lg-1 col-md-1"></div>
      <div class="col-lg-7 col-md-7 custom-box-shadow">
        <div  style="text-align: justify; margin: 50px 50px">

          <app-top-post></app-top-post>
          <app-display-posts [posts]="posts"></app-display-posts>

        </div>
      </div>

      <div class="col-lg-3 col-md-3 custom-box-shadow">
        <app-top5-by-likes></app-top5-by-likes>
      </div>
    </div>
    <!--    </div>-->
  </div>
</section>
<!-- Categories Section End -->

<app-footer></app-footer>


<!-- Search Begin -->
<div class="search-model">
  <div class="h-100 d-flex align-items-center justify-content-center">
    <div class="search-close-switch">+</div>
    <form class="search-model-form">
      <input type="text" id="search-input" placeholder="Search here.....">
    </form>
  </div>
</div>
<!-- Search End -->


