<app-navbar></app-navbar>

<!-- Categories Section Begin -->
<section class="categories spad" style="background-color: rgba(255,253,253,0.87); padding: 60px">
  <div class="container">
  </div>
  <div class="categories__post">
    <div class="container">
      <div class="row">
        <div class="col-lg-2 col-md-2">
        </div>
        <div class="col-lg-8 col-md-8 custom-box-shadow" style="padding: 25px 65px">
          <div class="contact__form">
            <div class="contact__form__title">
              <h2 style="text-align: center; margin: 30px 30px; color: rgb(244, 149, 47)">EDIT POST</h2>
            </div>
            <form [formGroup]="postForm" (ngSubmit)="editPost()">
              <div class="sidebar__item__title" style="margin: 0 0">
                <h6>TITLE:</h6>
              </div>
              <input class="margin-bot-cus" type="text" style="" formControlName="title" placeholder="Title"
                     value="{{postId.title}}">
              <div class="sidebar__item__title" style="margin: 0 0">
                <h6>Breif Description:</h6>
              </div>
              <input type="text" formControlName="description" placeholder="Brief description" value="{{postId.description}}"
                     class="margin-bot-cus">
              <div>
                <input type="file"
                       id="file"
                       #userPhoto
                       (change)="onFileSelected($event)"
                       name="image"
                       autocomplete="off"
                       formControlName="image"
                       style="padding: 10px 3px 3px 0; width: 100%"

                />
                <img src="{{fb}}" style="height: 80px; width: 80px;  margin-left: 30px">
              </div>
              <!--              <hr style="border-color: #ffffff">-->
              <div class="sidebar__item__title" style="margin: 0 0">
                <h6>POST CONTENT:</h6>
              </div>
              <editor class="margin-bot-cus" formControlName="content" [init]="{plugins :  'link'}"
                      [initialValue]="content"></editor>
              <br>
              <div class=" text-center " style="margin-top: 30px">
                <div class=" text-center " style="text-align: center">
                <div class="form-check-inline  " style="text-align: center" *ngFor="let label of labels; index as i">
                  <input #check type="checkbox"
                         style="width: 16px; height: 16px;margin-bottom: 0px"
                         id="{{i + 1}}" [value]="label[0]"
                         (change)="changeLabel($event, label[0])"
                         (click)="checkBox(check)">
                  <label class="label" style="margin: 0 20px 0 3px" for="{{i + 1}}">{{label[1]}}</label>
                  <label class="label" for="{{label.id}}">{{label.name}}</label>
                </div>
                </div>
                <select class="margin-bot-cus" formControlName="status" style="margin: 20px; border: 1px solid black"
                        value="1">
                  <option selected="selected" value="1">Public</option>
                  <option value="0">Private</option>
                </select>
              </div>
              <button  type="submit" class="site-btn"
                      style="width: 150px; margin: 10px 0px 50px 248px">Update
              </button>
            </form>
          </div>

        </div>
        <div class="col-lg-2 col-md-2">
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Categories Section End -->

<app-footer></app-footer>


<!-- Search Begin -->
<div class="search-model">
  <div class="h-100 d-flex align-items-center justify-content-center">
    <div class="search-close-switch">+</div>
    <form class="search-model-form">
      <input type="text" id="search-input" placeholder="Search here.....">
    </form>
  </div>
</div>
<!-- Search End -->


