<div class="sidebar__feature__item">
  <div class="sidebar__item__title">
    <h6>Recommendation post</h6>
  </div>
  <div *ngFor="let item of relativePosts">
    <div class="sidebar__feature__item__large set-bg" style="margin: 50px 0">
          <img src="{{item.post.image}}" style="width: 347.300px; height: 195.350px">
      <div class="sidebar__feature__item__large--text">
        <h5 class="title-title"><a style="color: #cccccc; background-color: #313431; text-align: justify; margin: auto" [routerLink]="['/detail/', item.post.id]">{{item.post.title}}</a></h5>
      </div>
    </div>
  </div>
</div>
