<app-navbar></app-navbar>

<!-- Hero Section Begin -->
<section class="hero">
  <div class="hero__slider owl-carousel">
    <div class="hero__item">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-6 p-0">
            <div class="hero__inside__item hero__inside__item--wide set-bg"
                 data-setbg="assets/img/hero/hero-1.jpg">
              <div class="hero__inside__item__text">
                <div class="hero__inside__item--meta">
                  <span>08</span>
                  <p>Aug</p>
                </div>
                <div class="hero__inside__item--text">
                  <ul class="label">
                    <li>Vegan</li>
                    <li>Desserts</li>
                  </ul>
                  <h4>Vegan White Peach Mug Cobbler With CardamomVegan<br/> White Peach Mug
                    Cobbler With Cardamom</h4>
                  <ul class="widget">
                    <li>by <span>Admin</span></li>
                    <li>3 min read</li>
                    <li>20 Comment</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6  p-0">
            <div class="hero__inside__item hero__inside__item--small set-bg"
                 data-setbg="assets/img/hero/hero-2.jpg">
              <div class="hero__inside__item__text">
                <div class="hero__inside__item--meta">
                  <span>08</span>
                  <p>Aug</p>
                </div>
                <div class="hero__inside__item--text">
                  <ul class="label">
                    <li>Vegan</li>
                    <li>Desserts</li>
                  </ul>
                  <h5>How to Make a Milkshake With Any <br/>Ice Cream, Any Toppings...</h5>
                </div>
              </div>
            </div>
            <div class="hero__inside__item hero__inside__item--small set-bg"
                 data-setbg="assets/img/hero/hero-3.jpg">
              <div class="hero__inside__item__text">
                <div class="hero__inside__item--meta">
                  <span>08</span>
                  <p>Aug</p>
                </div>
                <div class="hero__inside__item--text">
                  <ul class="label">
                    <li>Vegan</li>
                    <li>Desserts</li>
                  </ul>
                  <h5>Vintage Copper Preserve Pan with <br/>Brass Handles, Mid 19th Century</h5>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6  p-0">
            <div class="hero__inside__item set-bg" data-setbg="assets/img/hero/hero-4.jpg">
              <div class="hero__inside__item__text">
                <div class="hero__inside__item--meta">
                  <span>08</span>
                  <p>Aug</p>
                </div>
                <div class="hero__inside__item--text">
                  <ul class="label">
                    <li>Vegan</li>
                    <li>Desserts</li>
                  </ul>
                  <h5>Marinated Lentil Salad with Zucch <br/>ini and Tomatoes</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="hero__item">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-6 p-0">
            <div class="hero__inside__item hero__inside__item--wide set-bg"
                 data-setbg="assets/img/hero/hero-1.jpg">
              <div class="hero__inside__item__text">
                <div class="hero__inside__item--meta">
                  <span>08</span>
                  <p>Aug</p>
                </div>
                <div class="hero__inside__item--text">
                  <ul class="label">
                    <li>Vegan</li>
                    <li>Desserts</li>
                  </ul>
                  <h4>Vegan White Peach Mug Cobbler With CardamomVegan<br/> White Peach Mug
                    Cobbler With Cardamom</h4>
                  <ul class="widget">
                    <li>by <span>Admin</span></li>
                    <li>3 min read</li>
                    <li>20 Comment</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 p-0">
            <div class="hero__inside__item hero__inside__item--small set-bg"
                 data-setbg="assets/img/hero/hero-3.jpg">
              <div class="hero__inside__item__text">
                <div class="hero__inside__item--meta">
                  <span>08</span>
                  <p>Aug</p>
                </div>
                <div class="hero__inside__item--text">
                  <ul class="label">
                    <li>Vegan</li>
                    <li>Desserts</li>
                  </ul>
                  <h5>How to Make a Milkshake With Any <br/>Ice Cream, Any Toppings...</h5>
                </div>
              </div>
            </div>
            <div class="hero__inside__item hero__inside__item--small set-bg"
                 data-setbg="img/hero/hero-2.jpg">
              <div class="hero__inside__item__text">
                <div class="hero__inside__item--meta">
                  <span>08</span>
                  <p>Aug</p>
                </div>
                <div class="hero__inside__item--text">
                  <ul class="label">
                    <li>Vegan</li>
                    <li>Desserts</li>
                  </ul>
                  <h5>Vintage Copper Preserve Pan with <br/>Brass Handles, Mid 19th Century</h5>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 p-0">
            <div class="hero__inside__item set-bg" data-setbg="img/hero/hero-4.jpg">
              <div class="hero__inside__item__text">
                <div class="hero__inside__item--meta">
                  <span>08</span>
                  <p>Aug</p>
                </div>
                <div class="hero__inside__item--text">
                  <ul class="label">
                    <li>Vegan</li>
                    <li>Desserts</li>
                  </ul>
                  <h5>Marinated Lentil Salad with Zucch <br/>ini and Tomatoes</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Hero Section End -->

<!-- Categories Section Begin -->
<section class="categories spad" style="background-color: #fffbf569; padding: 60px">
  <div class="container">
  </div>
  <div class="categories__post">
    <!--    <div class="container-fluid">-->
    <div class="row">
      <div class="col-lg-1 col-md-1"></div>
      <div class="col-lg-7 col-md-7 custom-box-shadow">
        <div>
          <app-display-posts></app-display-posts>
          Sử dụng dòng 184 truyền danh dánh (posts) tìm được để hiển thị ra
          <!--          <app-display-posts [posts]="posts"></app-display-posts>-->
        </div>
      </div>

      <div class="col-lg-3 col-md-3 custom-box-shadow">
        <div>
          <app-top5-by-likes></app-top5-by-likes>
        </div>
      </div>
      <div class="col-lg-1 col-md-1"></div>
    </div>
    <!--    </div>-->
  </div>
</section>
<!-- Categories Section End -->

<app-footer></app-footer>


<!-- Search Begin -->
<div class="search-model">
  <div class="h-100 d-flex align-items-center justify-content-center">
    <div class="search-close-switch">+</div>
    <form class="search-model-form">
      <input type="text" id="search-input" placeholder="Search here.....">
    </form>
  </div>
</div>
<!-- Search End -->
