<!-- Sign In Section Begin -->
<div class="signin">
  <div class="search-close-switch" style="margin-left: 1300px; margin-top: 20px" routerLink="/">+</div>
  <div class="signin__warp">
    <div class="signin__content">
      <div class="signin__logo">
      </div>
      <div class="signin__form">
        <ul class="nav nav-tabs" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" style="padding: 16px 16px" routerLink="/login" data-toggle="tab" href="#tabs-1" role="tab" aria-selected="true">
              Đăng nhập
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" style="padding: 16px 16px" data-toggle="tab" href="#tabs-2" role="tab" aria-selected="false">
              Đăng ký
            </a>
          </li>
          <li class="nav-item">
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="tabs-2" role="tabpanel">
            <div class="signin__form__text">
              <div class="signin__form__signup__social">
            <img src="assets/img/logo.png"  alt="">

              </div>
              <!--              form đăng ký-->
              <form [formGroup]="registerForm" (ngSubmit)="register()">
                <input type="text" style="margin: 0 0" [(ngModel)]="usernameValue" placeholder="Tên đăng nhập" formControlName="username">
                <div *ngIf="username?.invalid && (username?.dirty || username?.touched)">
                  <div style="color: red; margin-left: 10px" *ngIf="username?.errors?.['required']">
                    <small>*Tên tài khoản không được bỏ trống</small>
                  </div>
                  <div style="color: red" *ngIf="username?.errors?.['minlength']">
                    <small>*Tên tài khoản phải ít nhất 6 kí tự</small>
                  </div>
                  <div style="color: red" *ngIf="username?.errors?.['maxlength']">
                    <small>*Tên tài khoản tối đa 32 kí tự</small>
                  </div>
                </div>

                <input type="text" style="margin: 20px 0 0 0"  [(ngModel)]="fullNameValue"  placeholder="Tên đầy đủ của bạn" formControlName="fullName">
                <div *ngIf="fullName?.invalid && (fullName?.dirty || fullName?.touched)">
                  <div style="color: red; margin-left: 10px" *ngIf="username?.errors?.['required']">
                    <small>*Tên không được bỏ trống</small>
                  </div>
                  <div style="color: red" *ngIf="username?.errors?.['minlength']">
                    <small>Tên phải ít nhất 6 kí tự</small>
                  </div>
                  <div style="color: red" *ngIf="username?.errors?.['maxlength']">
                    <small>Tên tối đa 32 kí tự</small>
                  </div>
                </div>

                <input type="text" style="margin: 20px 0 0 0"  [(ngModel)]="numberPhone"  placeholder="Số điện thoại" formControlName="numberPhone">
                <div *ngIf="phone?.invalid && (phone?.dirty || phone?.touched)">
                  <div style="color: red" *ngIf="phone?.errors?.['required']">
                    <small>*Số điện thoại không được bỏ trống</small>
                  </div>
                  <div style="color: red" *ngIf="phone?.errors?.['pattern']">
                    <small>*Số điện thoại không đúng định dạng</small>
                  </div>
                </div>

                <input type="password" style="margin: 20px 0 0 0" [(ngModel)]="passwordValue"  placeholder="Mật khẩu" formControlName="password">
                <div *ngIf="password?.invalid && (password?.dirty || password?.touched)">
                  <div style="color: red" *ngIf="password?.errors?.['required']">
                    <small>*Mật khẩu không được bỏ trống</small>
                  </div>
                  <div style="color: red" *ngIf="password?.errors?.['minlength']">
                    <small>*Mật khẩu phải có ít nhất 6 kí tự</small>
                  </div>
                  <div style="color: red" *ngIf="password?.errors?.['maxlength']">
                    <small>*Mật khẩu tối đa 32 kí tự</small>
                  </div>
                </div>

                <input type="password" style="margin: 20px 0 0 0"  [(ngModel)]="confirmPasswordValue"  placeholder="Nhập lại mật khẩu" formControlName="confirmPassword">
<!--                <div *ngIf="confirmPassword?.invalid && (confirmPassword?.dirty || confirmPassword?.touched)">-->
<!--                  <div *ngIf="confirmPassword.touched && confirmPassword.invalid" class="alert alert-danger">-->
<!--                    <div *ngIf="confirmPassword.errors.required">*Mật khẩu nhập lại không được để trống</div>-->
<!--                  </div>-->
<!--                </div>-->
                <div *ngIf="confirmPassword?.invalid && (confirmPassword?.dirty || confirmPassword?.touched)">
                  <div style="color: red" *ngIf="password?.errors?.['required']">
                    <small>*Hãy nhập lại mật khẩu</small>
                  </div>
                  <div style="color: red" *ngIf="password?.errors?.['minlength']">
                    <small>*Mật khẩu nhập lại phải có ít nhất 6 kí tự</small>
                  </div>
                  <div style="color: red" *ngIf="password?.errors?.['maxlength']">
                    <small>*Mật khẩu nhập lại tối đa 12 kí tự</small>
                  </div>
                </div>
                <button style="margin: 50px 0 0" type="submit" [disabled]="checkForm() ? 'disabled' : null" class="site-btn">Đăng ký</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

