#profile {position: relative;
  left: 80px;
  top: 8px;
}

.custom-header-box {
  -webkit-box-shadow: 0px 11px 14px -11px rgba(166,50,0,0.33);
  -moz-box-shadow: 0px 11px 14px -11px rgba(166,50,0,0.33);
  box-shadow: 0px 11px 14px -11px rgba(166,50,0,0.33);
}
