<!-- Header Section Begin -->
<header class="header custom-header-box" >
  <div class="header__top">
    <div class="container">
      <div class="row">
        <div class="col-lg-2 col-md-1 col-6 order-md-1 order-1">
          <div class="header__humberger">
            <i class="fa fa-trash" style="color: #f4952f"> REJECT</i>
          </div>
        </div>
        <div class="col-lg-8 col-md-10 order-md-2 order-3">
          <nav class="header__menu">
            <ul>
              <li class="active" *ngIf="!isLogin"><a routerLink="/"><i class="fa fa-home"></i></a></li>
              <li class="active" *ngIf="isLogin"><a routerLink="/user"><i class="fa fa-home"></i></a></li>
              <li><a href="#">Recipes</a>
                <div class="header__megamenu__wrapper">
                  <div class="header__megamenu">
                    <!--                    Các bài theo nhãn-->
                    <div class="header__megamenu__item">
                      <div class="header__megamenu__item--pic set-bg"
                           data-setbg="assets/img/megamenu/p-1.jpg">
                        <div class="label">Vegan</div>
                      </div>
                      <div class="header__megamenu__item--text">
                        <h5><a href="#">How to Make a Milkshake With Any Ice Cream ...</a>
                        </h5>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <!--              <li><a href="#">Desserts</a></li>-->
              <li class="dropdown"><a href="#">Thể loại</a>
                <ul class="dropdown__menu">
                  <li><a href="./categories-grid.html">Categories Grid</a></li>
                  <li><a href="./categories-list.html">Categories List</a></li>
                  <li><a href="./single-post.html">Single Post</a></li>
                  <li><a href="./signin.html">Sign In</a></li>
                  <li><a href="./404.html">404</a></li>
                  <li><a href="./typography.html">Typography</a></li>
                </ul>
              </li>
              <li><a href="./about.html">About</a></li>
              <li><a href="./contact.html">Contact</a></li>
              <li class="dropdown"><a href="#"><i class="fa fa-user"></i></a>
                <ul class="dropdown__menu" *ngIf="!isLogin">
                  <li><a routerLink="/login">Đăng nhập</a></li>
                  <li><a routerLink="/register">Đăng ký</a></li>
                </ul>
                <ul class="dropdown__menu" *ngIf="isLogin">
                  <li><a>Trang cá nhân</a></li>
                  <li><a [routerLink]="['/change-password/',currentUserId]">Đổi mật khẩu</a></li>
                  <li><a [routerLink]="['/update/',currentUserId]">Chỉnh sửa thông tin</a></li>
                  <li><a (click)="logout()">Đăng xuất</a></li>
                </ul>
              </li>
            </ul>
          </nav>
        </div>
        <div class="col-lg-2 col-md-1 col-6 order-md-3 order-2">
          <div class="header__search">
            <i class="fa fa-search search-switch"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-3">
        <div class="header__btn">
          <a class="primary-btn" *ngIf="isLogin" routerLink="/create">Đăng bài</a>
          <a class="primary-btn" (click)="requestLogin()" *ngIf="!isLogin">Đăng bài</a>
        </div>
      </div>
      <div class="col-lg-6 col-md-6">
        <div class="header__logo">
          <a href="./index.html"><img src="assets/img/logo.png" alt=""></a>
        </div>
      </div>
      <div class="col-lg-3 col-md-3" id="profile" *ngIf="isLogin">
        <!--        <div class="header__social">-->
        <!--          <a href="#"><i class="fa fa-facebook"></i></a>-->
        <!--          <a href="#"><i class="fa fa-twitter"></i></a>-->
        <!--          <a href="#"><i class="fa fa-youtube-play"></i></a>-->
        <!--          <a href="#"><i class="fa fa-instagram"></i></a>-->
        <!--          <a href="#"><i class="fa fa-envelope-o"></i></a>-->
        <!--        </div>-->
        <div class="footer__instagram__avatar" style="width: 400px">
          <div class="footer__instagram__avatar--pic">
            <img src="{{avatar}}" alt="">
          </div>
          <div class="footer__instagram__avatar--text" style="padding: 10px">
            <h5>{{fullName}}</h5>
<!--            <span>23 bài viết</span>-->
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Header Section End -->
