<div class="breadcrumb__text">
  <h2 style="margin-top: 20px"><span>Bài viết mới</span></h2>
  <!--    <div class="breadcrumb__option">-->
  <!--      <a href="#">Trang chủ</a>-->
  <!--      <span>Recipes</span>-->
  <!--    </div>-->
</div>
<div class="categories__list__post__item"
     *ngFor="let post of posts | paginate: { itemsPerPage: 1, currentPage: p, totalItems: total }">
  <div class="row">
    <div class="col-lg-6 col-md-6">
      <div class="categories__post__item__pic set-bg"
           data-setbg="img/categories/categories-list/cl-1.jpg">
        <img src="{{post.image}}">
        <!--          <div class="post__meta">-->
        <!--            <h4></h4>-->
        <!--            <span>{{post.createAt}}</span>-->
        <!--          </div>-->
      </div>
    </div>
    <div class="col-lg-6 col-md-6">
      <div class="categories__post__item__text">
        <!--          <span class="post__label">Nhãn</span>-->
        <h3><strong><a [routerLink]="['/detail', post.id]">{{post.title}}</a></strong></h3>
        <ul class="post__widget">
          <li>từ <span [routerLink]="['/profile/',post.user.id]">{{post.user.fullName}}</span></li>
          <li>   {{post.numberOfLike}} Lượt thích</li>
          <!--            <li>20 Bình luận</li>-->
        </ul>
        <p>{{post.description}}</p>
      </div>
      <button *ngIf="adminCheck" type="button" [routerLink]="['/delete/', post.id]" class="btn site-btn" data-toggle="modal" data-target="#deleteByAdmin" style="padding: 7px 12px">
        XÓA
      </button>
    </div>
  </div>
</div>
<div style="margin: 70px 0">
  <pagination-controls (pageChange)="pageChangeEvent($event)"></pagination-controls>
</div>
