<!-- Sign In Section Begin -->
<div class="signin">
  <div class="search-close-switch" style="margin-left: 1300px; margin-top: 20px" routerLink="/user">+</div>
  <div class="signin__warp">
    <div class="signin__content">
      <div class="signin__logo">
        <a routerLink="/"><img src="assets/img/siign-in-logo.png" alt=""></a>
      </div>
      <div class="signin__form">
<!--        <ul class="nav nav-tabs" role="tablist" style="width: 100%">-->
<!--          <li>-->
<!--            <a class="nav-link active" style="padding: 16px 16px" data-toggle="tab" href="#tabs-1" role="tab" aria-selected="false">-->
<!--              THAY ĐỔI MẬT KHẨU-->
<!--            </a>-->
        <div class="nav-link active custom-box-shadow">
            <h2 style=" margin: 20px 0; color: rgb(244, 149, 47);">THAY ĐỔI MẬT KHẨU</h2>
        </div>
<!--          </li>-->
<!--        </ul>-->
<!--        <div class="tab-content">-->
<!--          <div class="tab-pane active" id="tabs-2" role="tabpanel">-->
            <div class="signin__form__text" style="margin-top: 30px">
              <!--              phan Login//////////////////////////////////////-->
              <form [formGroup]="changeForm" (ngSubmit)="changePassword()">
                <input style="margin: 0 0" type="password" placeholder="Nhập lại mật khẩu cũ" formControlName="oldPassword">
                <div *ngIf="oldPassword?.invalid && (oldPassword?.dirty || oldPassword?.touched)">
                  <div style="color: red; margin-left: 10px" *ngIf="oldPassword?.errors?.['required']">
                    <small>*Mật khẩu cũ không được bỏ trống</small>
                  </div>
                  <div style="color: red" *ngIf="oldPassword?.errors?.['minlength']">
                    <small>*Mật khẩu cũ phải ít nhất 6 kí tự</small>
                  </div>
                  <div style="color: red" *ngIf="oldPassword?.errors?.['maxlength']">
                    <small>*Mật khẩu cũ tối đa 12 kí tự</small>
                  </div>
                </div>
<!--                <div id="error" style="display: none;color: red">Mật khẩu hiện tại không đúng </div>-->

                <input style="margin: 20px 0 0 0" type="password" placeholder="Mật khẩu mới" formControlName="password">
                <div *ngIf="password?.invalid && (password?.dirty || password?.touched)">
                  <div style="color: red" *ngIf="password?.errors?.['required']">
                    <small>*Mật khẩu không được bỏ trống</small>
                  </div>
                  <div style="color: red" *ngIf="password?.errors?.['minlength']">
                    <small>*Mật khẩu phải có ít nhất 6 kí tự</small>
                  </div>
                  <div style="color: red" *ngIf="password?.errors?.['maxlength']">
                    <small>*Mật khẩu tối đa 12 kí tự</small>
                  </div>
                </div>

                <input style="margin: 20px 0 0 0" type="password" placeholder="Nhập lại mật khẩu" formControlName="confirmPassword">
                <div *ngIf="confirmPassword?.invalid && (confirmPassword?.dirty || confirmPassword?.touched)">
                  <div style="color: red" *ngIf="confirmPassword?.errors?.['required']">
                    <small>*Mật khẩu nhập lại không được bỏ trống</small>
                  </div>
                  <div style="color: red" *ngIf="confirmPassword?.errors?.['minlength']">
                    <small>*Mật khẩu nhập lại phải có ít nhất 6 kí tự</small>
                  </div>
                  <div style="color: red" *ngIf="confirmPassword?.errors?.['maxlength']">
                    <small>*Mật khẩu nhập lại tối đa 12 kí tự</small>
                  </div>
                </div>
                <button style="margin: 50px 0 0" type="submit" class="site-btn">Xác nhận</button>
              </form>
            </div>
<!--          </div>-->
<!--        </div>-->
      </div>
    </div>
  </div>
</div>



