<!-- Sign In Section Begin -->
<div class="signin">
  <div class="search-close-switch" style="margin-left: 1300px; margin-top: 20px" routerLink="/user">+</div>
  <div class="signin__warp">
    <div class="signin__content">
      <div class="signin__logo">
        <a routerLink="/"><img src="assets/img/siign-in-logo.png" alt=""></a>
      </div>
      <div class="signin__form">
        <div class="nav-link active custom-box-shadow">
            <h2 style=" margin: 20px 0; color: rgb(244, 149, 47);">CHANGE PASSWORD</h2>
        </div>
            <div class="signin__form__text" style="margin-top: 30px">
              <!--              phan Login//////////////////////////////////////-->
              <form [formGroup]="changeForm" (ngSubmit)="changePassword()">
                <input style="margin: 0 0" type="password" placeholder="Enter your current password" formControlName="oldPassword" [(ngModel)]="oldPasswordValue">
                <div *ngIf="oldPassword?.invalid && (oldPassword?.dirty || oldPassword?.touched)">
                  <div style="color: red; margin-left: 10px" *ngIf="oldPassword?.errors?.['required']">
                    <small>*Your current password is empty, please re-enter your current password</small>
                  </div>
                  <div style="color: red" *ngIf="oldPassword?.errors?.['minlength']">
                    <small>*Your current password must have at least 6 characters, please re-enter your current password</small>
                  </div>
                  <div style="color: red" *ngIf="oldPassword?.errors?.['maxlength']">
                    <small>*Your current password have a maximum of 12 characters, please re-enter your current password</small>
                  </div>
                </div>
                <input style="margin: 20px 0 0 0" type="password" placeholder="New Password" formControlName="password" [(ngModel)]="passwordValue">
                <div *ngIf="password?.invalid && (password?.dirty || password?.touched)">
                  <div style="color: red" *ngIf="password?.errors?.['required']">
                    <small>*Your new password is empty, please re-enter your new password</small>
                  </div>
                  <div style="color: red" *ngIf="password?.errors?.['minlength']">
                    <small>*Your new password must have at least 6 characters, please re-enter your new password</small>
                  </div>
                  <div style="color: red" *ngIf="password?.errors?.['maxlength']">
                    <small>*Your new password have a maximum of 12 characters, please re-enter your new password</small>
                  </div>
                </div>

                <input style="margin: 20px 0 0 0" type="password" placeholder="Re-Enter The New Password" formControlName="confirmPassword" [(ngModel)]="confirmPasswordValue">
                <div *ngIf="confirmPassword?.invalid && (confirmPassword?.dirty || confirmPassword?.touched)">
                  <div style="color: red" *ngIf="confirmPassword?.errors?.['required']">
                    <small>*Your re-new password is empty, please re-enter your re-new password</small>
                  </div>
                  <div style="color: red" *ngIf="confirmPassword?.errors?.['minlength']">
                    <small>*Your re-new password must have at least 6 characters, please re-enter your re-new password</small>
                  </div>
                  <div style="color: red" *ngIf="confirmPassword?.errors?.['maxlength']">
                    <small>*Your re-new password have a maximum of 12 characters, please re-enter your re-new password</small>
                  </div>
                </div>
                <button style="margin: 50px 0 0" type="submit" class="site-btn" [disabled]="checkForm() ? 'disabled' : null">Confirm</button>
              </form>
            </div>
<!--          </div>-->
<!--        </div>-->
      </div>
    </div>
  </div>
</div>



