<!-- Sign In Section Begin -->
<div class="signin">
  <div class="search-close-switch" style="margin-left: 1300px; margin-top: 20px" routerLink="/">+</div>
  <div class="signin__warp">
    <div class="signin__content">
      <div class="signin__logo">

      </div>
      <div class="signin__form">
        <ul class="nav nav-tabs" role="tablist">
          <li class="nav-item">
            <a class="nav-link" style="padding: 16px 16px" data-toggle="tab" href="#tabs-1" role="tab" aria-selected="false">
              Login
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" style="padding: 16px 16px" routerLink="/register" data-toggle="tab" href="#tabs-2" role="tab" aria-selected="true">
              Register
            </a>
          </li>
          <li class="nav-item">
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="tabs-2" role="tabpanel">
            <div class="signin__form__text">
              <div class="signin__form__signup__social">
                <img src="assets/img/logo.png" alt="">
              </div>
              <form [formGroup]="loginForm" (ngSubmit)="login()" >
                  <input style="margin: 0 0" type="text" placeholder="Username" (input)="checkForm()"  [(ngModel)]="usernameValue" formControlName="username">
                  <div *ngIf="username?.invalid && (username?.dirty || username?.touched)">
                    <div style="color: red; margin-left: 10px" *ngIf="username?.errors?.['required']">
                      <small>*Your username is empty, please enter the username </small>
                    </div>
                    <div style="color: red" *ngIf="username?.errors?.['minlength']">
                      <small>Your username must have at least 6 characters</small>
                    </div>
                    <div style="color: red" *ngIf="username?.errors?.['maxlength']">
                      <small>*Your username have a maximum of 32 characters</small>
                    </div>
                  </div>
                  <input style="margin: 20px 0 0 0" type="password" placeholder="Password" (input)="checkForm()"   [(ngModel)]="passwordValue" formControlName="password">
                  <div *ngIf="password?.invalid && (password?.dirty || password?.touched)">
                    <div style="color: red" *ngIf="password?.errors?.['required']">
                      <small>*Your pasword is empty, please enter the password </small>
                    </div>
                    <div style="color: red" *ngIf="password?.errors?.['minlength']">
                      <small>*Your password must have at least 6 characters</small>
                    </div>
                    <div style="color: red" *ngIf="password?.errors?.['maxlength']">
                      <small>*Your password have a maximum of 32 characters</small>
                    </div>
                  </div>
                  <button style="margin: 50px 0 0" type="submit" class="site-btn" [disabled]="checkForm() ? 'dis abled' : null">LOGIN</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



