<div class="categories__post__item categories__post__item--large" style="margin-top: 20px">
  <div class="categories__post__item__pic set-bg" style="margin: 0 0"
       data-setbg="">
    <img src="{{topPost.image}}" style="height: 500px; width: 800px">
<!--    <div class="post__meta">-->
<!--      <h4>08</h4>-->
<!--      <span>Aug</span>-->
<!--    </div>-->
  </div>
  <div class="categories__post__item__text">
    <ul class="post__label--large">
<!--      <li>Vegan</li>-->
<!--      <li>Desserts</li>-->
    </ul>
    <h3><strong><a [routerLink]="['/detail/', topPost.id]">{{topPost.title}}</a></strong></h3>
    <ul class="post__widget">
      <li>từ <span>{{topPost.user.fullName}}</span></li>
      <li>{{topPost.numberOfLike}} lượt thích</li>
<!--      <li>20 Comment</li>-->
    </ul>
    <p style="width: 80%; margin: 40px 100px">{{topPost.description}}</p>
    <a [routerLink]="['/detail/', topPost.id]" class="primary-btn">Đọc tiếp</a>
    <div class="post__social">
      <span>Share</span>
      <a href="#"><i class="fa fa-facebook"></i> <span>82</span></a>
      <a href="#"><i class="fa fa-twitter"></i> <span>24</span></a>
      <a href="#"><i class="fa fa-envelope-o"></i> <span>08</span></a>
    </div>
  </div>
</div>
<hr>
