<app-navbar></app-navbar>
<!-- Hero Section Begin -->
<section class="hero">
  <div class="hero__slider owl-carousel">
    <div class="hero__item">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-6 p-0">
            <div class="hero__inside__item hero__inside__item--wide set-bg"
                 data-setbg="assets/img/hero/hero-1.jpg">
              <div class="hero__inside__item__text">
                <div class="hero__inside__item--meta">
                  <span>08</span>
                  <p>Aug</p>
                </div>
                <div class="hero__inside__item--text">
                  <ul class="label">
                    <li>Vegan</li>
                    <li>Desserts</li>
                  </ul>
                  <h4>Vegan White Peach Mug Cobbler With CardamomVegan<br/> White Peach Mug
                    Cobbler With Cardamom</h4>
                  <ul class="widget">
                    <li>by <span>Admin</span></li>
                    <li>3 min read</li>
                    <li>20 Comment</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6  p-0">
            <div class="hero__inside__item hero__inside__item--small set-bg"
                 data-setbg="assets/img/hero/hero-2.jpg">
              <div class="hero__inside__item__text">
                <div class="hero__inside__item--meta">
                  <span>08</span>
                  <p>Aug</p>
                </div>
                <div class="hero__inside__item--text">
                  <ul class="label">
                    <li>Vegan</li>
                    <li>Desserts</li>
                  </ul>
                  <h5>How to Make a Milkshake With Any <br/>Ice Cream, Any Toppings...</h5>
                </div>
              </div>
            </div>
            <div class="hero__inside__item hero__inside__item--small set-bg"
                 data-setbg="assets/img/hero/hero-3.jpg">
              <div class="hero__inside__item__text">
                <div class="hero__inside__item--meta">
                  <span>08</span>
                  <p>Aug</p>
                </div>
                <div class="hero__inside__item--text">
                  <ul class="label">
                    <li>Vegan</li>
                    <li>Desserts</li>
                  </ul>
                  <h5>Vintage Copper Preserve Pan with <br/>Brass Handles, Mid 19th Century</h5>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6  p-0">
            <div class="hero__inside__item set-bg" data-setbg="assets/img/hero/hero-4.jpg">
              <div class="hero__inside__item__text">
                <div class="hero__inside__item--meta">
                  <span>08</span>
                  <p>Aug</p>
                </div>
                <div class="hero__inside__item--text">
                  <ul class="label">
                    <li>Vegan</li>
                    <li>Desserts</li>
                  </ul>
                  <h5>Marinated Lentil Salad with Zucch <br/>ini and Tomatoes</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="hero__item">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-6 p-0">
            <div class="hero__inside__item hero__inside__item--wide set-bg"
                 data-setbg="assets/img/hero/hero-1.jpg">
              <div class="hero__inside__item__text">
                <div class="hero__inside__item--meta">
                  <span>08</span>
                  <p>Aug</p>
                </div>
                <div class="hero__inside__item--text">
                  <ul class="label">
                    <li>Vegan</li>
                    <li>Desserts</li>
                  </ul>
                  <h4>Vegan White Peach Mug Cobbler With CardamomVegan<br/> White Peach Mug
                    Cobbler With Cardamom</h4>
                  <ul class="widget">
                    <li>by <span>Admin</span></li>
                    <li>3 min read</li>
                    <li>20 Comment</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 p-0">
            <div class="hero__inside__item hero__inside__item--small set-bg"
                 data-setbg="assets/img/hero/hero-3.jpg">
              <div class="hero__inside__item__text">
                <div class="hero__inside__item--meta">
                  <span>08</span>
                  <p>Aug</p>
                </div>
                <div class="hero__inside__item--text">
                  <ul class="label">
                    <li>Vegan</li>
                    <li>Desserts</li>
                  </ul>
                  <h5>How to Make a Milkshake With Any <br/>Ice Cream, Any Toppings...</h5>
                </div>
              </div>
            </div>
            <div class="hero__inside__item hero__inside__item--small set-bg"
                 data-setbg="img/hero/hero-2.jpg">
              <div class="hero__inside__item__text">
                <div class="hero__inside__item--meta">
                  <span>08</span>
                  <p>Aug</p>
                </div>
                <div class="hero__inside__item--text">
                  <ul class="label">
                    <li>Vegan</li>
                    <li>Desserts</li>
                  </ul>
                  <h5>Vintage Copper Preserve Pan with <br/>Brass Handles, Mid 19th Century</h5>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 p-0">
            <div class="hero__inside__item set-bg" data-setbg="img/hero/hero-4.jpg">
              <div class="hero__inside__item__text">
                <div class="hero__inside__item--meta">
                  <span>08</span>
                  <p>Aug</p>
                </div>
                <div class="hero__inside__item--text">
                  <ul class="label">
                    <li>Vegan</li>
                    <li>Desserts</li>
                  </ul>
                  <h5>Marinated Lentil Salad with Zucch <br/>ini and Tomatoes</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Hero Section End -->

<!-- Categories Section Begin -->
<section class="categories spad" style="background-color: #fffbf569">
  <div class="container">
  </div>
  <div class="categories__post" style="padding: 20px">
    <!--    <div class="container">-->
    <div class="row">
      <div class="col-lg-1 col-md-1"></div>
      <div class="col-lg-7 col-md-7 custom-box-shadow">
        <!-- Typography Section Begin -->
        <section class="typography spad">
          <div class="container">
            <div class="typography__text">
              <div class="row">
                <div class="col-lg-11 col-md-11" style="padding: 0 50px">
                  <div class="breadcrumb__text">
                    <h2 style="color: #f4952f">{{obj.title}}</h2>
                    <div class="breadcrumb__option">
                      <a [routerLink]="['/profile/',obj.user.id]">Author: {{obj.user.fullName}} </a>
                      <span>Publish date: {{toDay}} {{nowTime}}</span>
                    </div>
                  </div>
                  <div class="typography__top__text">
                  </div>
                  <div class="typography__desc">
                    <div class="row">
                      <div class="col-lg-6 col-md-6 col-sm-6">
                        <img src="{{obj.image}}" alt="">
                      </div>
                      <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="typography__desc__text">
                          <p>Description: {{obj.description}}</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="typography__last__text" id="content">
                  </div>
                  <hr #cmt>
                  <div class="post__social" style="margin-left: 450px; padding: 0 0 40px 0">
                    <span (click)="likePost()" *ngIf="likedCheck" title="Unlike">
                      <a><i class="fa fa-heart"></i></a>{{obj.numberOfLike}}
                    </span>
                    <span (click)="likePost()" *ngIf="!likedCheck" title="Like">
                      <a><i class="fa fa-heart-o"></i></a>{{obj.numberOfLike}}
                    </span>
                    <span (click)="scrollToElement(comment)" title="Comment"><a><i
                      class="fa fa-comment-o"></i></a>{{comments.length}} </span>
                    <span title="Edit Post"><a *ngIf="postOwner" [routerLink]="['/edit/',obj.id]"><i
                      class="fa fa-pencil-square-o"></i></a></span>
                    <span title="Delete Post"><a *ngIf="postOwner" data-toggle="modal" data-target="#staticBackdrop"><i
                      class="fa fa-trash"></i></a></span>
                  </div>
                  <!--  COMMENT-->
                  <div class="sidebar__item__title" *ngFor="let cmt of comments">
                    <div class="single-post__comment__item__pic">
                      <img src="{{cmt.user.avatar}}" alt="">
                    </div>
                    <div class="single-post__comment__item__text">
                      <a style="margin-left: 0" [routerLink]="['/profile/',cmt.user.id]"><h6>{{cmt.user.fullName}}</h6>
                      </a>
                      <span>{{cmt.createAt.toString().split('T')[0]}} {{cmt.createAt.toString().split('T')[1]}}</span>
                      <p>{{cmt.content}}</p>
                    </div>
                  </div>
                  <!--                  <app-rating></app-rating>-->
                  <!--                    </div>-->
                  <hr style="margin: 16px 0 30px 0">
                  <div class="single-post__leave__comment">
                    <form #comment [formGroup]="commentForm" (ngSubmit)="createComment()">
                      <img src="{{avatar}}"
                           style="width: 50px; height: 50px; border-radius: 50%; margin: 0 30px 3px 25px">
                      <input type="text" formControlName="content" style="height: 48px;width: 444px;"
                             placeholder="Write your comment...">
                      <button style="width: 100px; margin-left: 30px" type="submit" class="site-btn" *ngIf="!isLogin">
                        Login
                      </button>
                      <button style="width: 100px; margin-left: 30px" class="site-btn" *ngIf="isLogin"
                              (click)="requestLogin()">Post
                      </button>
                    </form>
                  </div>

                  <!-- Modal -->
                  <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="true"
                       tabindex="-1"
                       aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content" style="background-color: #ffffff">
                        <div class="modal-header">
                          <h5 class="modal-title" id="staticBackdropLabel">
                            <div class="sidebar__item__title" style="margin: 0 0">
                              <h6>CONFIRM</h6>
                            </div>
                          </h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          DO YOU SURE THAT YOU WANT TO DELETE THIS???
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">HỦY</button>
                          <button type="button" class="btn site-btn" data-dismiss="modal"
                                  (click)="deletePost(obj.id)" style="padding: 7px 12px">DELETE
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

      </div>

      <div class="col-lg-3 col-md-3 custom-box-shadow">

        <app-top5-by-likes></app-top5-by-likes>
        <app-relative-post [relativePosts]="postList"></app-relative-post>

      </div>
    </div>
    <!--    </div>-->
  </div>
</section>
<!-- Categories Section End -->
<app-footer></app-footer>


<!-- Search Begin -->
<div class="search-model">
  <div class="h-100 d-flex align-items-center justify-content-center">
    <div class="search-close-switch">+</div>
    <form class="search-model-form">
      <input type="text" id="search-input" placeholder="Search here.....">
    </form>
  </div>
</div>
<!-- Search End -->






