
<!-- Typography Section Begin -->
<section class="typography spad">
  <div class="container">
    <div class="typography__text">
      <div class="row">
        <div class="col-lg-8 col-md-8">
          <div class="breadcrumb__text">
            <h2>{{obj.title}}</h2>
            <div class="breadcrumb__option">
              <a href="#">Tác giả: {{obj.user.fullName}} </a>
              <span>Ngày đăng :{{obj.createAt}}</span>
            </div>
          </div>
          <div class="typography__top__text">
<!--            <p>Mô tả: {{obj.description}}</p>-->
          </div>
          <div class="typography__desc">
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-6">
                <img src="{{obj.image}}" alt="">
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="typography__desc__text">
                  <p>Mô tả: {{obj.description}}</p>
                </div>
              </div>
            </div>
          </div>
          <div class="typography__last__text" id="content">
          </div>
<!--          COMMENT-->
<!--          <section class="single-post spad">-->
<!--            <div class="container">-->
<!--              <div class="row d-flex justify-content-center">-->
<!--                <div class="col-lg-8">-->
<!--                  <div class="single-post__comment">-->
<!--                    <div class="single-post__comment__item">-->
<!--                      <div class="single-post__comment__item__pic">-->
<!--                        <img src="assets/img/categories/single-post/comment/comment-3.jpg" alt="">-->
<!--                      </div>-->
<!--                      <div class="single-post__comment__item__text">-->
<!--                        <h5>Brandon Kelley</h5>-->
<!--                        <span>15 Aug 2017</span>-->
<!--                        <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,-->
<!--                          adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore-->
<!--                          magnam.</p>-->
<!--                        <ul>-->
<!--                          <li><a href="#"><i class="fa fa-heart-o"></i></a></li>-->
<!--                          <li><a href="#"><i class="fa fa-share-square-o"></i></a></li>-->
<!--                        </ul>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                  <div class="single-post__leave__comment">-->
<!--                    <div class="widget__title">-->
<!--                      <h4>Leave a comment</h4>-->
<!--                    </div>-->
<!--                    <form action="#">-->
<!--                      <textarea placeholder="Message"></textarea>-->
<!--                      <button type="submit" class="site-btn">Submit</button>-->
<!--                    </form>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </section>-->
        </div>
      </div>
      <!-- Modal -->
      <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="true" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              Bạn Có Chắc Chắn Muốn Xóa
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Không xóa</button>
              <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="deletePost(obj.id)">Xóa</button>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>




