<app-navbar></app-navbar>
<!-- Hero Section Begin -->
<section class="hero">
  <div class="hero__slider owl-carousel">
    <div class="hero__item">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-6 p-0">
            <div class="hero__inside__item hero__inside__item--wide set-bg"
                 data-setbg="assets/img/hero/hero-1.jpg">
              <div class="hero__inside__item__text">
                <div class="hero__inside__item--meta">
                  <span>08</span>
                  <p>Aug</p>
                </div>
                <div class="hero__inside__item--text">
                  <ul class="label">
                    <li>Vegan</li>
                    <li>Desserts</li>
                  </ul>
                  <h4>Vegan White Peach Mug Cobbler With CardamomVegan<br/> White Peach Mug
                    Cobbler With Cardamom</h4>
                  <ul class="widget">
                    <li>by <span>Admin</span></li>
                    <li>3 min read</li>
                    <li>20 Comment</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6  p-0">
            <div class="hero__inside__item hero__inside__item--small set-bg"
                 data-setbg="assets/img/hero/hero-2.jpg">
              <div class="hero__inside__item__text">
                <div class="hero__inside__item--meta">
                  <span>08</span>
                  <p>Aug</p>
                </div>
                <div class="hero__inside__item--text">
                  <ul class="label">
                    <li>Vegan</li>
                    <li>Desserts</li>
                  </ul>
                  <h5>How to Make a Milkshake With Any <br/>Ice Cream, Any Toppings...</h5>
                </div>
              </div>
            </div>
            <div class="hero__inside__item hero__inside__item--small set-bg"
                 data-setbg="assets/img/hero/hero-3.jpg">
              <div class="hero__inside__item__text">
                <div class="hero__inside__item--meta">
                  <span>08</span>
                  <p>Aug</p>
                </div>
                <div class="hero__inside__item--text">
                  <ul class="label">
                    <li>Vegan</li>
                    <li>Desserts</li>
                  </ul>
                  <h5>Vintage Copper Preserve Pan with <br/>Brass Handles, Mid 19th Century</h5>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6  p-0">
            <div class="hero__inside__item set-bg" data-setbg="assets/img/hero/hero-4.jpg">
              <div class="hero__inside__item__text">
                <div class="hero__inside__item--meta">
                  <span>08</span>
                  <p>Aug</p>
                </div>
                <div class="hero__inside__item--text">
                  <ul class="label">
                    <li>Vegan</li>
                    <li>Desserts</li>
                  </ul>
                  <h5>Marinated Lentil Salad with Zucch <br/>ini and Tomatoes</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="hero__item">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-6 p-0">
            <div class="hero__inside__item hero__inside__item--wide set-bg"
                 data-setbg="assets/img/hero/hero-1.jpg">
              <div class="hero__inside__item__text">
                <div class="hero__inside__item--meta">
                  <span>08</span>
                  <p>Aug</p>
                </div>
                <div class="hero__inside__item--text">
                  <ul class="label">
                    <li>Vegan</li>
                    <li>Desserts</li>
                  </ul>
                  <h4>Vegan White Peach Mug Cobbler With CardamomVegan<br/> White Peach Mug
                    Cobbler With Cardamom</h4>
                  <ul class="widget">
                    <li>by <span>Admin</span></li>
                    <li>3 min read</li>
                    <li>20 Comment</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 p-0">
            <div class="hero__inside__item hero__inside__item--small set-bg"
                 data-setbg="assets/img/hero/hero-3.jpg">
              <div class="hero__inside__item__text">
                <div class="hero__inside__item--meta">
                  <span>08</span>
                  <p>Aug</p>
                </div>
                <div class="hero__inside__item--text">
                  <ul class="label">
                    <li>Vegan</li>
                    <li>Desserts</li>
                  </ul>
                  <h5>How to Make a Milkshake With Any <br/>Ice Cream, Any Toppings...</h5>
                </div>
              </div>
            </div>
            <div class="hero__inside__item hero__inside__item--small set-bg"
                 data-setbg="img/hero/hero-2.jpg">
              <div class="hero__inside__item__text">
                <div class="hero__inside__item--meta">
                  <span>08</span>
                  <p>Aug</p>
                </div>
                <div class="hero__inside__item--text">
                  <ul class="label">
                    <li>Vegan</li>
                    <li>Desserts</li>
                  </ul>
                  <h5>Vintage Copper Preserve Pan with <br/>Brass Handles, Mid 19th Century</h5>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 p-0">
            <div class="hero__inside__item set-bg" data-setbg="img/hero/hero-4.jpg">
              <div class="hero__inside__item__text">
                <div class="hero__inside__item--meta">
                  <span>08</span>
                  <p>Aug</p>
                </div>
                <div class="hero__inside__item--text">
                  <ul class="label">
                    <li>Vegan</li>
                    <li>Desserts</li>
                  </ul>
                  <h5>Marinated Lentil Salad with Zucch <br/>ini and Tomatoes</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Hero Section End -->

<!-- Categories Section Begin -->
<section class="categories spad" style="background-color: #fffbf569">
  <div class="container">
  </div>
  <div class="categories__post" style="padding: 20px">
    <!--    <div class="container">-->
    <div class="row">
      <div class="col-lg-1 col-md-1"></div>
      <div class="col-lg-7 col-md-7 custom-box-shadow">
        <!-- Typography Section Begin -->
        <section class="typography spad">
          <div class="container">
            <div class="typography__text">
              <div class="row">
                <div class="col-lg-10 col-md-10">
                  <div class="breadcrumb__text">
                    <h2 style="color: #f4952f">{{obj.title}}</h2>
                    <div class="breadcrumb__option">
                      <a href="#">Tác giả: {{obj.user.fullName}} </a>
                      <span>Ngày đăng :{{obj.createAt}}</span>
                    </div>
                  </div>
                  <div class="typography__top__text">
                    <!--            <p>Mô tả: {{obj.description}}</p>-->
                  </div>
                  <div class="typography__desc">
                    <div class="row">
                      <div class="col-lg-6 col-md-6 col-sm-6">
                        <img src="{{obj.image}}" alt="">
                      </div>
                      <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="typography__desc__text">
                          <p>Mô tả: {{obj.description}}</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="typography__last__text" id="content">
                  </div>
                  <hr>

                  <div class="post__social" style="margin-left: 450px; padding: 0 0 40px 0">
                    <a href="#"><i class="fa fa-heart" style="color: #f4952f"></i></a><span>{{obj.numberOfLike}} </span>
                    <a href="#"><i class="fa fa-comment-o" style="color: #f4952f" ></i></a><span>{{comments.length}} </span>
<!--                    <a href="#"><i class="fa fa-share-square-o"></i></a><span></span>-->
                    <a *ngIf="postOwner" [routerLink]="['/edit/',obj.id]"><i
                      class="fa fa-pencil-square-o" style="color: #f4952f"></i></a><span></span>
                    <a *ngIf="postOwner" data-toggle="modal" data-target="#staticBackdrop"><i class="fa fa-trash" style="color: #f4952f"></i></a><span></span>
                  </div>
                  <!--          COMMENT-->
                  <!--                    <div class="single-post__comment">-->
                  <div class="sidebar__item__title" *ngFor="let cmt of comments">
                    <div class="single-post__comment__item__pic">
                      <img src="{{cmt.user.avatar}}" alt="">
                    </div>
                    <div class="single-post__comment__item__text">
                      <a href="#"><h6>{{cmt.user.fullName}}</h6></a>
                      <span>{{cmt.createAt}}</span>
                      <p>{{cmt.content}}</p>
                    </div>
                  </div>
                  <!--                    </div>-->
                  <div class="single-post__leave__comment">
<!--                    <div class="widget__title">-->
<!--                      <h4>Bình luận bài viết</h4>-->
<!--                    </div>-->
                    <form [formGroup]="commentForm" (ngSubmit)="createComment()">
                      <textarea formControlName="content" placeholder="Viết bình luận..."
                                style="height: 80px"></textarea>
                      <button type="submit" class="site-btn" *ngIf="isLogin">Đăng</button>
                      <button type="submit" class="site-btn" *ngIf="!isLogin" (click)="requestLogin()">Đăng</button>
                    </form>
                  </div>

                  <!-- Modal -->
                  <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="true"
                       tabindex="-1"
                       aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content" style="background-color: #ffffff">
                        <div class="modal-header">
                          <h5 class="modal-title" id="staticBackdropLabel">
                            <div class="sidebar__item__title" style="margin: 0 0">
                              <h6>XÁC NHẬN</h6>
                            </div>
                          </h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          Bạn chắc chắn muốn xóa không?
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">HỦY</button>
                          <button type="button" class="btn site-btn" data-dismiss="modal"
                                  (click)="deletePost(obj.id)" style="padding: 7px 12px">XÓA
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
<!--                <div class="col-lg-2 col-md-2">-->
<!--                  <ul *ngIf="postOwner">-->
<!--                    <div class="dropdown">-->
<!--                      <a href="#"><i class="fa fa-caret-down"></i></a>-->
<!--                      <ul class="dropdown__menu">-->
<!--                        <li><a [routerLink]="['/edit/', obj.id]">Sửa</a></li>-->
<!--                        <li><a data-toggle="modal" data-target="#staticBackdrop">Xóa</a></li>-->
<!--                      </ul>-->
<!--                    </div>-->
<!--                  </ul>-->
<!--                </div>-->
              </div>
            </div>
          </div>
        </section>

      </div>

      <div class="col-lg-3 col-md-3 custom-box-shadow">

        <app-top5-by-likes></app-top5-by-likes>

      </div>
    </div>
    <!--    </div>-->
  </div>
</section>
<!-- Categories Section End -->
<app-footer></app-footer>


<!-- Search Begin -->
<div class="search-model">
  <div class="h-100 d-flex align-items-center justify-content-center">
    <div class="search-close-switch">+</div>
    <form class="search-model-form">
      <input type="text" id="search-input" placeholder="Search here.....">
    </form>
  </div>
</div>
<!-- Search End -->






